build
utest/build
/* utest/compile_commands.json */
*.swp
tags
compile_commands.json
a.out
core
cppcheck.xml
.clangd
.history
.config
.gdb*
tools/mesh_config/*
!tools/mesh_config/templates.json
!tools/mesh_config/example
